---
http_interactions:
- request:
    method: post
    uri: https://test-identiy-provider.com/api/user_create
    body:
      encoding: UTF-8
      string: '{"first_name":"Ben","last_name":"Dover","phone":"1234567890","phone_prefix":"+40","phone_prefix_country":"RO","gender":"F","username":"bendover","password":"password123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer Nn6XlfsMqh9vE0YJd_C4RnwP7pVv-QmVavBkBSA4IXE
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3006b7192c192242892ec9d852082a77"
      Ngrok-Trace-Id:
      - d32ba42568cedc78da1f4f5c050bccf0
    body:
      encoding: UTF-8
      string: '{"user":{"first_name":"Ben","last_name":"Dover","phone":"1234567890","phone_prefix":"+40","phone_prefix_country":"RO","username":"bendover","gender":"F","ghin_number":null}}'
  recorded_at: Wed, 23 Aug 2023 14:34:04 GMT
recorded_with: VCR 6.1.0
