---
http_interactions:
- request:
    method: post
    uri: https://test-identiy-provider.com/api/user_create
    body:
      encoding: UTF-8
      string: '{"first_name":"Ben","last_name":"Dover","phone":"1234567890","phone_prefix":"+40","phone_prefix_country":"RO","gender":"F","username":"bendover","password":"password123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer secret_token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ngrok-Trace-Id:
      - 7b8fec9bcd976e34548aa5a6f1e5cab8
    body:
      encoding: UTF-8
      string: '{"error":"Your application is not authorized to perform this action"}'
  recorded_at: Thu, 24 Aug 2023 07:31:45 GMT
recorded_with: VCR 6.1.0
