---
http_interactions:
- request:
    method: post
    uri: https://test-identiy-provider.com/api/user_create
    body:
      encoding: UTF-8
      string: '{"first_name":"Ben","last_name":"Dover","phone":"1234567890","phone_prefix":"+40","phone_prefix_country":"RO","gender":"F","username":"bendover","password":"password123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer PaLEvjX2mAaHZITRQHp8jB08STS3eCp3hoK9MjNQjoQ
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ngrok-Trace-Id:
      - f5e89cb2a210ec9c759070351b3652b6
    body:
      encoding: UTF-8
      string: '{"error":"An account associated with this username already exists"}'
  recorded_at: Wed, 23 Aug 2023 14:44:02 GMT
recorded_with: VCR 6.1.0
