---
http_interactions:
- request:
    method: post
    uri: https://test-identiy-provider.com/api/user_create
    body:
      encoding: UTF-8
      string: '{"first_name":"Ben","last_name":"Dover","phone":"1234567890","phone_prefix":"+40","phone_prefix_country":"RO","gender":"F","username":"bendover","password":""}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer secret_token
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ngrok-Trace-Id:
      - 37e54520078181153b52c797b4072c02
    body:
      encoding: UTF-8
      string: '{"errors":["Password can''t be blank","Password should include lower
        case characters, numbers and has minimum 8 characters"]}'
  recorded_at: Thu, 24 Aug 2023 07:21:25 GMT
recorded_with: VCR 6.1.0
