---
http_interactions:
- request:
    method: post
    uri: https://test-identiy-provider.com/api/user_create
    body:
      encoding: UTF-8
      string: '{"first_name":"Ben","last_name":"Dover","phone":"1234567890","phone_prefix":"+40","phone_prefix_country":"RO","gender":"F","username":"bendover","password":"password123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer oauthToken
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html
      Ngrok-Trace-Id:
      - a82fd1053c8ca718ec1a8ab412db23cc
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_token", error_description="The access
        token is invalid"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 23 Aug 2023 14:41:44 GMT
recorded_with: VCR 6.1.0
