---
http_interactions:
- request:
    method: get
    uri: https://test-identiy-provider.com/.well-known/openid-configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"acf7db2bda057f0505839af36ab800fd"
      Ngrok-Trace-Id:
      - 026612652d7e5bc9512f98cab09b0d56
    body:
      encoding: UTF-8
      string: '{"issuer":"https://test-identiy-provider.com","authorization_endpoint":"http://test-identiy-provider.com/oauth/authorize","token_endpoint":"http://test-identiy-provider.com/oauth/token","revocation_endpoint":"http://test-identiy-provider.com/oauth/revoke","introspection_endpoint":"http://test-identiy-provider.com/oauth/introspect","userinfo_endpoint":"http://test-identiy-provider.com/oauth/userinfo","jwks_uri":"http://test-identiy-provider.com/oauth/discovery/keys","end_session_endpoint":"https://test-identiy-provider.com/logout","scopes_supported":["openid"],"response_types_supported":["code","token","id_token","id_token
        token"],"response_modes_supported":["query","fragment","form_post"],"grant_types_supported":["authorization_code","implicit_oidc","refresh_token"],"token_endpoint_auth_methods_supported":["client_secret_basic","client_secret_post"],"subject_types_supported":["public"],"id_token_signing_alg_values_supported":["RS256"],"claim_types_supported":["normal"],"claims_supported":["iss","sub","aud","exp","iat","email","first_name","last_name","phone","phone_prefix","phone_prefix_country","gender","ghin_number"]}'
  recorded_at: Fri, 26 May 2023 12:38:09 GMT
- request:
    method: post
    uri: http://test-identiy-provider.com/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&client_id=customClientIdentifier&client_secret=customClientSecret&refresh_token=refreshToken
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ngrok-Trace-Id:
      - 0b52f0f698fcb1ded95918310fdf19bd
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_grant", error_description="The provided
        authorization grant is invalid, expired, revoked, does not match the redirection
        URI used in the authorization request, or was issued to another client."
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_description":"The provided authorization
        grant is invalid, expired, revoked, does not match the redirection URI used
        in the authorization request, or was issued to another client."}'
  recorded_at: Fri, 26 May 2023 12:38:10 GMT
recorded_with: VCR 6.1.0
