---
http_interactions:
- request:
    method: get
    uri: https://test-identiy-provider.com/.well-known/openid-configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"acf7db2bda057f0505839af36ab800fd"
      Ngrok-Trace-Id:
      - 8667100f685996f91cf0c7a337c1a8cb
    body:
      encoding: UTF-8
      string: '{"issuer":"https://test-identiy-provider.com","authorization_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/authorize","token_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/token","revocation_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/revoke","introspection_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/introspect","userinfo_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/userinfo","jwks_uri":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/discovery/keys","end_session_endpoint":"https://test-identiy-provider.com/logout","scopes_supported":["openid"],"response_types_supported":["code","token","id_token","id_token
        token"],"response_modes_supported":["query","fragment","form_post"],"grant_types_supported":["authorization_code","implicit_oidc","refresh_token"],"token_endpoint_auth_methods_supported":["client_secret_basic","client_secret_post"],"subject_types_supported":["public"],"id_token_signing_alg_values_supported":["RS256"],"claim_types_supported":["normal"],"claims_supported":["iss","sub","aud","exp","iat","email","first_name","last_name","phone","phone_prefix","phone_prefix_country","gender","ghin_number"]}'
  recorded_at: Fri, 26 May 2023 08:35:57 GMT
- request:
    method: post
    uri: http://9f8a-136-255-180-91.ngrok-free.app/oauth/token
    body:
      encoding: UTF-8
      string: code=validCode&grant_type=authorization_code&redirect_uri=http%3A%2F%2Ftest-client.com%2Foauth_login
    headers:
      Authorization:
      - Basic eVBKX2dQdlBYTnRsY2h3aDhQZ2lLMTItQkR3UXdCYjlYZ1RfSVBfQ0wxM05UOjRPclpCQ2hhZXl5aGM2Zmtrb1RuSGt2VGdIc1dKUUNwQ2pMVUlQX0NMMTNOVFI=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ngrok-Trace-Id:
      - 3fdc0c697cb3e6dbda61e392b2e4229c
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_client", error_description="Client
        authentication failed due to unknown client, no client authentication included,
        or unsupported authentication method."
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"Client authentication
        failed due to unknown client, no client authentication included, or unsupported
        authentication method."}'
  recorded_at: Fri, 26 May 2023 08:35:57 GMT
recorded_with: VCR 6.1.0
