---
http_interactions:
- request:
    method: get
    uri: https://test-identiy-provider.com/.well-known/openid-configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"acf7db2bda057f0505839af36ab800fd"
      Ngrok-Trace-Id:
      - e29ecce4f366259c034a2c2ed622a30f
    body:
      encoding: UTF-8
      string: '{"issuer":"https://test-identiy-provider.com","authorization_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/authorize","token_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/token","revocation_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/revoke","introspection_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/introspect","userinfo_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/userinfo","jwks_uri":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/discovery/keys","end_session_endpoint":"https://test-identiy-provider.com/logout","scopes_supported":["openid"],"response_types_supported":["code","token","id_token","id_token
        token"],"response_modes_supported":["query","fragment","form_post"],"grant_types_supported":["authorization_code","implicit_oidc","refresh_token"],"token_endpoint_auth_methods_supported":["client_secret_basic","client_secret_post"],"subject_types_supported":["public"],"id_token_signing_alg_values_supported":["RS256"],"claim_types_supported":["normal"],"claims_supported":["iss","sub","aud","exp","iat","email","first_name","last_name","phone","phone_prefix","phone_prefix_country","gender","ghin_number"]}'
  recorded_at: Fri, 26 May 2023 09:01:44 GMT
- request:
    method: post
    uri: http://9f8a-136-255-180-91.ngrok-free.app/oauth/token
    body:
      encoding: UTF-8
      string: code=invalidCode&grant_type=authorization_code&redirect_uri=http%3A%2F%2Ftest-client.com%2Foauth_login
    headers:
      Authorization:
      - Basic eVBKX2dQdlBYTnRsY2h3aDhQZ2lLMTItQkR3UXdCYjlYZ1RfSVBfQ0wxM05UOjRPclpCQ2hhZXl5aGM2Zmtrb1RuSGt2VGdIc1dKUUNwQ2pMVUlQX0NMMTNOVA==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ngrok-Trace-Id:
      - 15d9696fabafc41006f6e098614d2ca0
      Www-Authenticate:
      - Bearer realm="Doorkeeper", error="invalid_grant", error_description="The provided
        authorization grant is invalid, expired, revoked, does not match the redirection
        URI used in the authorization request, or was issued to another client."
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_description":"The provided authorization
        grant is invalid, expired, revoked, does not match the redirection URI used
        in the authorization request, or was issued to another client."}'
  recorded_at: Fri, 26 May 2023 09:01:44 GMT
recorded_with: VCR 6.1.0
