---
http_interactions:
- request:
    method: get
    uri: https://test-identiy-provider.com/.well-known/openid-configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"acf7db2bda057f0505839af36ab800fd"
      Ngrok-Trace-Id:
      - 29616a35e18298189a909fe5d6a11c47
    body:
      encoding: UTF-8
      string: '{"issuer":"https://test-identiy-provider.com","authorization_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/authorize","token_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/token","revocation_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/revoke","introspection_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/introspect","userinfo_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/userinfo","jwks_uri":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/discovery/keys","end_session_endpoint":"https://test-identiy-provider.com/logout","scopes_supported":["openid"],"response_types_supported":["code","token","id_token","id_token
        token"],"response_modes_supported":["query","fragment","form_post"],"grant_types_supported":["authorization_code","implicit_oidc","refresh_token"],"token_endpoint_auth_methods_supported":["client_secret_basic","client_secret_post"],"subject_types_supported":["public"],"id_token_signing_alg_values_supported":["RS256"],"claim_types_supported":["normal"],"claims_supported":["iss","sub","aud","exp","iat","email","first_name","last_name","phone","phone_prefix","phone_prefix_country","gender","ghin_number"]}'
  recorded_at: Fri, 26 May 2023 09:18:49 GMT
- request:
    method: post
    uri: http://9f8a-136-255-180-91.ngrok-free.app/oauth/revoke
    body:
      encoding: UTF-8
      string: '{"token":"activeToten","client_id":"customClientIdentifier","client_secret":"customClientSecret"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer activeToten
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      Ngrok-Trace-Id:
      - c4d660413c54403f480d8ede137386b5
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Fri, 26 May 2023 09:18:49 GMT
recorded_with: VCR 6.1.0
