---
http_interactions:
- request:
    method: get
    uri: https://test-identiy-provider.com/.well-known/openid-configuration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"acf7db2bda057f0505839af36ab800fd"
      Ngrok-Trace-Id:
      - afa426f7780cf015dd247bb524dcb75e
    body:
      encoding: UTF-8
      string: '{"issuer":"https://test-identiy-provider.com","authorization_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/authorize","token_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/token","revocation_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/revoke","introspection_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/introspect","userinfo_endpoint":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/userinfo","jwks_uri":"http://9f8a-136-255-180-91.ngrok-free.app/oauth/discovery/keys","end_session_endpoint":"https://test-identiy-provider.com/logout","scopes_supported":["openid"],"response_types_supported":["code","token","id_token","id_token
        token"],"response_modes_supported":["query","fragment","form_post"],"grant_types_supported":["authorization_code","implicit_oidc","refresh_token"],"token_endpoint_auth_methods_supported":["client_secret_basic","client_secret_post"],"subject_types_supported":["public"],"id_token_signing_alg_values_supported":["RS256"],"claim_types_supported":["normal"],"claims_supported":["iss","sub","aud","exp","iat","email","first_name","last_name","phone","phone_prefix","phone_prefix_country","gender","ghin_number"]}'
  recorded_at: Fri, 26 May 2023 10:31:30 GMT
- request:
    method: get
    uri: http://9f8a-136-255-180-91.ngrok-free.app/oauth/userinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 8aCGrR1MBAWOPNdqjFdlhEagVsIuOpHMdDxrIWh7hXg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"de8359c18cfb79f47de8b51aca759055"
      Ngrok-Trace-Id:
      - d38e63c4c0001596de9cda7df77eed92
    body:
      encoding: UTF-8
      string: '{"sub":"1","email":"admin@ggidentity.com","first_name":"GolfGenius","last_name":"Identity
        Admin12","phone":"078888888","phone_prefix":"+61","phone_prefix_country":"AU","gender":"F","ghin_number":"888888"}'
  recorded_at: Fri, 26 May 2023 10:31:30 GMT
recorded_with: VCR 6.1.0
